@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(to left, #0d9488, #0284c7, #0d9488);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.bg-clip-text {
  background-clip: text;
  -webkit-background-clip: text; /* Prefix untuk dukungan di browser WebKit */
}